---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Proyectos">
  <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="max-w-5xl mx-auto">
      <div class="mb-12 text-center">
        <h2 class="text-4xl font-bold text-gray-900 dark:text-white mb-2">
          Projects
        </h2>
        <p class="text-lg text-gray-600 dark:text-gray-400">
          A collection of civil engineering projects, showcasing expertise in
          Revit modeling and design.
        </p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
        <div
          class="group relative overflow-hidden rounded-lg shadow-lg bg-white dark:bg-background-dark/50"
        >
          <a href="#">
            <img
              alt="Urban Development Project"
              class="w-full h-56 object-cover transition-transform duration-300 group-hover:scale-105"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuDnaV3cDJ-S8saqil4XJpP-fkj7g_qebw5JU_ew4QT66GroaPzAGXOzWDqyFX4RtRExrS_tXss53uWxzrkSgRcL3FsnJgkjIBUB3ByNOZVa0wClwvkiwplY3LWf8I2elG-576GEPX191sc1p_QBdno-Rcbk9CArqI4z6lo1otQkuAirBXW4R5rGLhv3JfrtOmGMOwA8mQaSj_OwwbkRYWsYBAytRZZHC4CEmkpzKXJHeE_ejfcnKUY17_2YEglhGZQ3rBq0biLMTVo"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"
            >
            </div>
            <div class="absolute bottom-0 left-0 p-6">
              <h3 class="text-xl font-bold text-white mb-1">
                Urban Development Project
              </h3>
              <p class="text-sm text-gray-200">
                A comprehensive urban development plan integrating sustainable
                design principles.
              </p>
            </div>
          </a>
        </div>
        <div
          class="group relative overflow-hidden rounded-lg shadow-lg bg-white dark:bg-background-dark/50"
        >
          <a href="#">
            <img
              alt="Infrastructure Design"
              class="w-full h-56 object-cover transition-transform duration-300 group-hover:scale-105"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuA8m95GzhJOibDXEffg-xK1tQd3_N8nf3utEbT2ub_eAMcoLK_aG7H3MxZvVvdT2UrQNQT5ncbaih8jWNGu9oCgs-3OUjeJIibEOaDqRj0EOZmS-1o1_bhfkVwlXHMcZ7eEstPmh9oq_SCCaNRsWRdPA3U2cSqiB_s-xSG9G6OEv0MBXTQr11pD22v_d8u_onLw4F-z3s7VkPJ4b9JlbaMxcUM8VODfcxBWJYB9EiAOIinXRCbUck3HPFSE4gLSnvQS-cjrUgO_w_c"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"
            >
            </div>
            <div class="absolute bottom-0 left-0 p-6">
              <h3 class="text-xl font-bold text-white mb-1">
                Infrastructure Design
              </h3>
              <p class="text-sm text-gray-200">
                Design and modeling of critical infrastructure components,
                ensuring safety and efficiency.
              </p>
            </div>
          </a>
        </div>
        <div
          class="group relative overflow-hidden rounded-lg shadow-lg bg-white dark:bg-background-dark/50"
        >
          <a href="#">
            <img
              alt="Residential Complex"
              class="w-full h-56 object-cover transition-transform duration-300 group-hover:scale-105"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuBHOsklVChyq4W7-rf3Q6iz5Ik__A-wfHLcXMgpCH0R-veriaQsVjIVHuywjXqqBmFoRZIfue_6bS4hrZsGeNYoo8G2TzJtgMh_y50ItO7aRNWe7JlBTmzTCBzY7tAmuzu4wfI8ol-8QnJPrBha0JFF4mVMOqgR2mGOzhukXkrmwN0CGFkl5d5iGxCQida_zuP1nmUi4P7CKpPwfqqjPaPs2QkqgF874QrNfCgYXGu-pBgD23ElMBni2bsArOsfXsT6RcKytA2VpqA"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"
            >
            </div>
            <div class="absolute bottom-0 left-0 p-6">
              <h3 class="text-xl font-bold text-white mb-1">
                Residential Complex
              </h3>
              <p class="text-sm text-gray-200">
                Detailed Revit model of a modern residential complex,
                emphasizing architectural precision.
              </p>
            </div>
          </a>
        </div>
        <div
          class="group relative overflow-hidden rounded-lg shadow-lg bg-white dark:bg-background-dark/50"
        >
          <a href="#">
            <img
              alt="Commercial Building"
              class="w-full h-56 object-cover transition-transform duration-300 group-hover:scale-105"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuCY_WVgiA-HrzuOg5KklUY_Quu8Lu16rLegMbBCPpakvjDYOkPFf0W4R9-K1qFztR3Inv01DTwmJjisWBoKYI4nNWGr9DIAlTT_q1vRB0dDK2o5HMFgyQshCm5fn1xQgvxJsdg62l0uaajLXVs2Lmp_yWWV9M6S5te_JUfHMcp4eaXD-9zIBy54jGFRTMPr9Wc3wQmnQoBf92IVN79AN8GZn7YbCpmbvK_5B7FaOoWXF57rqFd04nSqaydfGdoPZiWIIbIHrC5Bwr8"
            />
            <div
              class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"
            >
            </div>
            <div class="absolute bottom-0 left-0 p-6">
              <h3 class="text-xl font-bold text-white mb-1">
                Commercial Building
              </h3>
              <p class="text-sm text-gray-200">
                Revit model of a commercial building, focusing on structural
                integrity and aesthetic appeal.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
