---
import ExperienceItem from "./ExperienceItem.astro";
import SectionAndTitle from "./SectionAndTitle.astro";

const EXPERIENCE = [
  {
    date: "Abr 2024 – Ago 2024",
    title: "Pasatratos",
    company: "Constructora Colbún Talca",
    description:
      "Control de personal y elaboración de estados de pago para los contratistas. Supervisión y revisión diaria de avances en la obra. Elaboración de informes y reportes de gestión.",
  },
  {
    date: "Mar 2024 – Abr 2024",
    title: "Ayudante de Trazador",
    company: "Constructora Colbún Talca",
    description:
      "Apoyo en nivelación de terrenos, trazado de ejes y líneas guías. Preparación de superficies, cubicación y marcado de cotas. Revisión y ubicación de elementos estructurales.",
  },
  {
    date: "Ene 2024 – Feb 2024",
    title: "Práctica Profesional",
    company: "Constructora Colbún Talca",
    description:
      "Apoyo en la revisión de PAC (plan de actividades semanales) y fichaje técnico de viviendas. Control y entrega de vales de consumo. Recepción de camiones y cubicación de materiales. Nivelación de terrenos y apoyo en supervisión de obra.",
  },
];
---

<SectionAndTitle title="Experiencia">
  <ol>
    {
      EXPERIENCE.map((experience) => (
        <li class="">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</SectionAndTitle>

<style>
  ol {
    position: relative;
    margin-block-start: 2rem;

    padding: 2rem;
  }
</style>
