---
import Bd from "~/icons/Bd.astro";
import ButtonDownloadCv from "./ButtonDownloadCv.astro";
import Menu from "~/icons/Menu.astro";
import Close from "~/icons/Close.astro";

const navLinks = [
  { href: "/project", label: "Projects" },
  { href: "/models", label: "Revit Models" },
];

const name = "Camila Aracena";
---

<header class="hero">
  <div class="header-container">
    <div>
      <a href="/">
        <!-- <Github style="width: 28px; height: 28px;" /> -->
        {name}
      </a>
    </div>

    <div>
      <input type="checkbox" id="sidebar-active" class="hidden" />
      <label for="sidebar-active" class="open-sidebar-button">
        <Menu />
      </label>

      <label id="overlay" for="sidebar-active"></label>

      <nav id="desktop-nav" class="links-container">
        <label for="sidebar-active" class="close-sidebar-button">
          <a href="/">
            {name}
          </a>
          <Close />
        </label>
        <ul>
          {
            navLinks.map(({ href, label }) => (
              <li>
                <a href={href}>
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
        <ButtonDownloadCv />
      </nav>
    </div>
  </div>
</header>

<style>
  :root {
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
  }

  svg {
    block-size: 24px;
    inline-size: 24px;
    fill: var(--text-color);
  }

  #sidebar-active {
    display: none;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    display: none;
    padding: 0 20px;
    cursor: pointer;
  }

  .hero {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: var(--text-color);
    padding-inline: 1.5rem; 
    padding-block: 0.75rem;

    a {
      text-decoration: none;
      color: var(--color-1);
      font-weight: 600;
      font-size: 1.125rem;
    }

    nav {
      inline-size: 100%;

      ul {
        display: flex;
        justify-content: center;
        inline-size: 100%;
      }
    }

    .header-container {
      display: flex;
      block-size: 100%;
      width: 100%;
      max-width: 1480px;
      margin-inline: auto;

      > * {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      > :first-child {
        margin-right: auto;
      }
    }

    .home-link {
      margin-right: auto;
    }
  }

  .links-container {
    block-size: 100%;
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (max-width: 1200px) {
    .hero {
      nav {
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .links-container {
      flex-direction: column;
      align-items: flex-start;
      position: fixed;

      height: 100vh;
      padding-block: 0.6rem;

      top: 0;
      right: -100%;
      z-index: 10;
      inline-size: max-content;
      background-color: white;
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

      transition: 0.1s ease-in-out;
    }

    .open-sidebar-button,
    .close-sidebar-button {
      display: block;
    }

    #sidebar-active:checked ~ .links-container {
      right: 0;
    }

    #overlay {
      opacity: 0;
      transition: 0.1s ease-in-out;
    }

    #sidebar-active:checked ~ #overlay {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
    }

    .close-sidebar-button {
      display: flex;
      justify-content: center;
      align-items: center;

      > *:last-child {
        margin-left: auto;
      }
    }
  }
</style>
