---
const { href } = Astro.props;
---

<a href={href} role="link" class="link-inline">
  <slot />
</a>

<style>
  .link-inline {
    display: inline-flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--primary);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  /* Hover effect */
  .link-inline:hover {
    color: var(--primary);
  }

  /* Dark mode colors */
  :global(.dark) .link-inline {
    color: var(--primary);
  }

  :global(.dark) .link-inline:hover {
    color: var(--primary);
  }
</style>
