<section class="py-16 sm:py-20">
  <h2 class="mb-8 text-center text-3xl font-bold tracking-tight">Projects</h2>
  <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
    <div
      class="group overflow-hidden rounded-lg bg-background-light shadow-md transition-shadow duration-300 hover:shadow-xl dark:bg-background-dark"
    >
      <div
        class="h-48 w-full bg-cover bg-center"
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD5Yb5vlAjLW31y49bESMhhhEdpaEJH-jxWJnx85uXVcy8MIBsWof4VPZDnY5v59L10sEIijmMRqLMLKn2YX63LtCOg6L_L4L4CSG9AhTCf_EFDLUqVlsYT4urZ3Z0skZkb0SAQKeWdsQ41wLxHUh9sCWd0L04zW60pFOgaOTytkr6CcJvbPdAff_AEKtyjZkpwpmE20RmTbpUHA8gr6QsIZEtAj8U7KFSWoDww68XAItEwkLMX2_SJsXggJaBr6Ujx-fTfOV5Eh2g");'
      >
      </div>
      <div class="p-6">
        <h3 class="text-lg font-bold">Project Alpha</h3>
        <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
          Description of Project Alpha.
        </p>
      </div>
    </div>
    <div
      class="group overflow-hidden rounded-lg bg-background-light shadow-md transition-shadow duration-300 hover:shadow-xl dark:bg-background-dark"
    >
      <div
        class="h-48 w-full bg-cover bg-center"
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDkW0l4yyTxwB9OFIJimRzHe3HlzE8zrXAGcoPoBS9M8dcpyupO2XZD2URC6gDwODUaDeZWGokrfdnYxmO-wWfNkEiiIrBR5exhoxkrKxYBzgB_IxYUbujzbEtO7bK7E27gjXd2qnH4rtpuOi0ObkxFDM4bsRZSTYXQ--fGH6PWBwllx6iKsKptQXh3EskzfPBpSNc4dI3cXzufweXt7DpdqcFQ7sCq4O3tP7C-8m5X48FJYguLuPkoRsOGXY9rqCWglMIGYDFmAng");'
      >
      </div>
      <div class="p-6">
        <h3 class="text-lg font-bold">Project Beta</h3>
        <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
          Description of Project Beta.
        </p>
      </div>
    </div>
    <div
      class="group overflow-hidden rounded-lg bg-background-light shadow-md transition-shadow duration-300 hover:shadow-xl dark:bg-background-dark"
    >
      <div
        class="h-48 w-full bg-cover bg-center"
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC7XXzvxhdHGvsZ2Ch6HShe1VaKWEctEmGxawGU97vMFXhKIrLcmjV-sCy6yYv7nMRNmWwJoTiat_hS0YzBHWT0hDhZ-FKTHnz6-lb311zwagGjpu_TkEAqRALmmR_u4qRd8UJMwW_uAqgNfn0Wv1RS4trFnygBg7Amw6Km-3IKvJOjqyi-o1iZdttLRVVi7ZsPpfMBYzMD3dRsYvBhvf4CWSHsLgiW9qt1EEtJjSR31VxuSkWLStg8nlHeZw37EKdtbVqrf5AZyeo");'
      >
      </div>
      <div class="p-6">
        <h3 class="text-lg font-bold">Project Gamma</h3>
        <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
          Description of Project Gamma.
        </p>
      </div>
    </div>
  </div>
</section>
