---
import ProjectRevitCard from "./cards/ProjectRevitCard.astro";



const projects = [
  {
    image: "/contru1.png",
    title: "Project Alpha",
    description: "Description of Project Alpha.",
    slug: "project-alpha"
  },
  {
    image: "/contru2.png",
    title: "Project Beta",
    description: "Description of Project Beta.",
    slug: "project-beta"
  },
  {
    image: "/contru3.png",
    title: "Project Gamma",
    description: "Description of Project Gamma.",
    slug: "project-gamma"
  },
];
---

<section class="projects">
  <h2 class="projects-title">Projects</h2>
  <div class="projects-grid">
    {projects.map((p) => (
      <ProjectRevitCard {...p}  type="project" href={`/blog/${p.slug}`} />
    ))}
  </div>
</section>


<style>
  .projects {
    padding: 4rem 1rem;
  }

  @media (min-width: 640px) {
    .projects {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  .projects-title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: -0.015em;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  @media (min-width: 640px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .projects-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
